*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container{
width: 100%;
padding: 2rem;
}
.container h1{
font-weight: 600;
text-align: center;
margin: 1rem 0;
}
.form-group{
width: 75%;
margin: auto;
}
form{
width: 100%;
padding: 0.5rem;
}
input[type='submit']{
background-color: green;
font-size: 1.1rem;
text-align: center;
font-weight: bold;
color: #fff;
padding: 0.3em 0.5em;
border: none;
outline: 1px solid white;
border-radius: 5px;
transition: 0.3s ease;
}
form input{
font-size: 1rem;
padding: 0.3em 0.5em;
}
input[type='submit']:hover{
background-color:rgb(20, 187, 20) ;
}